* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
.position{
    position:sticky;
    position: -webkit-sticky;
    background-color: white;
    width: 100%;
    top: 0;
    margin-bottom: 10px;
}
header {
    display: inline;
    margin-bottom: 10px;
}
header {
    position:absolute;
}
.dropdown{
    position : relative;
    display : inline-block;
}
.dropdown:hover{
    color: #fff;
    background-color: #9c5ab0;
    padding: 18px;
}
.dropdown-content{
    display : none;
    z-index : 1;
    border: 1px
}
.dropdown-content:hover{
    color: #fff;
    background-color: #9c5ab0;
}
.dropdown-content a{
    display : block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
a {
    text-decoration: none;
}
.mine a {
    color: #000000;
}
.mine a:hover {
    color:#9c5ab0;
}
.navi a {
    color: #000000;
}
.navi a:hover{
    color: white;
}
.mine li {
    display: inline;
    margin-right: 4px;
}
.mine {
    display: block;
    margin-top: 1%;
    margin-left: 150px;
    padding: 14px 0 0 0;
}
.navi{
    border-top: 2px solid #9c5ab0;
    border-bottom: 2px solid #9c5ab0;
    padding: 15px 20px;
    text-align: center;
}
.navi:active, .mine:active {
    color: #fff;
}
.navi li{
    color: black;
    display: inline;
    padding: 15px 20px;

}
.navi li:hover{
    color: #fff;
    background-color: #9c5ab0;
    padding: 18px;
}
header h1 {
    display: inline;
    color: #9c5ab0;
}
.search-box{
    padding: 10px;
    position: absolute;
    top: 30px;
    right: 1%;
    transform: translate(-50%,-50%);
    height: 30px;
    background-color: #fff;
    border: 1px solid #9c5ab0;
    border-radius: 30px;
    transition: 0.4s;
    width:30px;
}
.search-box:hover{
    box-shadow: 0px 0px .5px 1px #9c5ab0;
    width: 282px;
}
.search-btn{
    text-decoration: none;
    float: right;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9c5ab0;
}
.search-box:hover > .search-btn{
        background-color: #fff;
}
.search-txt{
    display: flex;
    padding: 0;
    width: 0px;
    border:none;
    background: none;
    outline: none;
    float: left;
    font-size: 1rem;
    line-height: 30px;
    transition: .4s;
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}
.kim>img, .ryu>img, .lee>img{
    margin: none;
    width: 350px;
    height: 375px;
}
.kim {
    color:rgb(0, 0, 0);
    background-color:#f0dff5;
}
.ryu {
    color:rgb(0, 0, 0);
    background-color:#f0dff5;
}
.lee {
    color:rgb(0, 0, 0);
    background-color:#f0dff5;
}
.kim{
    display: grid;
    grid-template-areas: 
    'a b'
    'a c'
    'a d'
    'a e';
    grid-gap: 2rem;
    grid-auto-rows: 70px;
    margin: 10px;
}
.kim1{grid-area: a;}
.kim2{grid-area: b;}
.kim3{grid-area: c;}
.kim4{grid-area: d;}
.kim5{grid-area: e;}
.ryu{
    display: grid;
    grid-template-areas: 
    'a b'
    'a c'
    'a d'
    'a e';
    grid-gap: 2rem;
    grid-auto-rows: 70px;
    margin: 10px;
}
.ryu1{grid-area: a;}
.ryu2{grid-area: b;}
.ryu3{grid-area: c;}
.ryu4{grid-area: d;}
.ryu5{grid-area: e;}
.lee{
    display: grid;
    grid-template-areas: 
    'a b'
    'a c'
    'a d'
    'a e';
    grid-gap: 2rem;
    grid-auto-rows: 70px;
    margin: 10px;
}
.lee1{grid-area: a;}
.lee2{grid-area: b;}
.lee3{grid-area: c;}
.lee4{grid-area: d;}
.lee5{grid-area: e;}
section {
    display: block;
}
.pc{
width: 285px;
padding: 10px;
margin-right: 10px;
margin-bottom: 20px;
float: left;
}
.event{
width: 330px;
padding: 10px;
margin-bottom: 200px;
margin-left: 10px;
margin-top: 10px;
float: right;
}
.kim{
width: 810px;
padding: 20px;
margin-bottom: 20px;
margin-left: 300px;
position: absolute;
}
.ryu {
width: 810px;
padding: 20px;
margin-top: 430px;
margin-bottom: 20px;
margin-left: 300px;
position: absolute;
}
.lee {
width: 810px;
padding: 20px;
margin-top: 850px;
margin-bottom: 20px;
margin-left: 300px;
position: absolute;
}
.people{
    background-color:#f0dff5;
}
.company {
    background-color: #f0dff5;
}
.event{
    background-color: #f0dff5;
}
.previous {
    background-color: #f1f1f1;
    color: black;
}
.next {
    background-color: #04AA6D;
    color: white;
}
.round {
    border-radius: 50%;
}
.bt{
    position: absolute;
    margin-top: 84%;
    margin-left: 300px;
}
footer {
    position: absolute;
    width: 99%;
    margin-top: 88%;
    margin-left: 0;
    background-color:#9c5ab0;
    color : whitesmoke;
    text-align: center;
}
.alert {
    padding: 20px;
    background-color: #d1b330;
    color: white;
    position: absolute;
    margin-left: 80%;
    }
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}